NODE_ENV=development
DATABASE_URL=postgresql://postgres:secret-dev-password@localhost:5432/spill-the-tea
JWT_SECRET=secret-dev
GAMMA_CLIENT_SECRET=
GAMMA_CLIENT_ID=
GAMMA_API_KEY_ID=
GAMMA_API_KEY_SECRET=

